-- Supabase Database Schema for ONIP Form

-- User profiles table
CREATE TABLE user_profiles (
    id UUID REFERENCES auth.users PRIMARY KEY,
    email TEXT,
    full_name TEXT,
    role TEXT DEFAULT 'user',
    created_at TIMESTAMP DEFAULT NOW()
);

-- Registration submissions table
CREATE TABLE registrations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users,
    category TEXT,
    form_data JSONB,
    file_number TEXT UNIQUE,
    created_at TIMESTAMP DEFAULT NOW()
);
